<div class="main-container">
  <header class="header header-6">
    <div class="branding">
      <a href="/home" class="nav-link">
        <clr-icon shape="first-aid" [style.color]="'#ffffff'"></clr-icon>
        <span class="title">Network for Giving</span> 
      </a>
      <div class="buttons" *ngIf="userService.getCurrentUsername()===''">
        <a href="/login" class="nav-link">
          <button class="btn btn-success" id="login" >Login</button>
        </a>
        <a  href="/register" class="nav-link">
          <button class="btn btn-success-outline" id="register">Register</button>
        </a>
      </div>
      <div class="loggedIn" *ngIf="userService.getCurrentUsername()!==''">
        <a class="nav-link">
          <button class="btn btn-success" id="logout" [routerLink]="['/profile',this.userService.getCurrentUsername()]" >
            Hello, {{this.userService.getCurrentUsername()}}</button>
        </a>
        <a href="/create_charity" class="nav-link">
          <button class="btn btn-success-outline" id="createCharity" >Create charity</button>
        </a>
        <a href="/home" class="nav-link">
          <button class="btn btn-warning-outline" id="logout" (click)="onLogOut()" >Logout</button>
        </a>
      </div>
      <clr-modal [(clrModalOpen)]="opened" [clrModalClosable]="false">
        <h4 class="modal-title">Do you want to logout? :(</h4>
        <div class="modal-footer">
            <button type="button" class="btn btn-warning" (click)="logOut()">
               Logout
            </button>
            <button type="button" class="btn btn-success-outline" (click)="opened = false">
                Cancel
             </button>
        </div>
      </clr-modal>
      
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <!-- Your Content Goes Here-->
      <div class="network">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>