img{
    margin-top: 30px;
    width:700px;
    height: 450px;
    border-radius: 1rem;
}

.progress-block{
    margin-top: 20px;
}

#help{
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    float: left;
    width: 9%;
}

#thumbnail{
    width: 25%;
}
