.card-img{
    width: 75%;
    position: relative; 
    top: 50%;
}

#searchForm{
    position: relative; 
    top: 50%;
    left: 40%;
}

img{
    margin: 30px;   
}

.progress-block
{
    width: 100%;
}

h2{
    margin-left: 20px;
}

#progress-bar
{
    margin-left: 15px;
}

#charities
{
  position: relative;  
  top: 50%;
  width: 50%;
  display:inline-block;
  margin-right: -25%;
}

.description{
    margin-left: 30px;
}